/* Button */
.btn {
  width: 100px;
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  transition: 0.3s;
  border-radius: 10px;
}

.btn:hover {
  color: white;
  transition: 0.3s;
  font-weight: 800;
}

.btn-success {
  background-color: rgb(92, 184, 92);
}

.btn-success:hover {
  background-color: rgb(102, 204, 102);
}

.btn-primary {
  background-color: rgb(2, 117, 216);
}

.btn-primary:hover {
  background-color: rgb(12, 127, 246);
}

.btn-secondary {
  background-color: rgb(101, 103, 104);
}

.btn-secondary:hover {
  background-color: rgb(131, 133, 134);
}

.btn-danger {
  background-color: rgb(217, 83, 79);
}

.btn-danger:hover {
  background-color: rgb(247, 93, 89);
}

#goal-btn-group {
  margin-top: -0.2rem;
  padding-bottom: 0.2rem;
}

@media only screen and (max-width: 450px) {
  .btn {
    width: 75px;
  }
}