/* Goals */
.goals {
  width: 90vw;
  text-align: center;
  position: relative;
  display: flex;
  margin: 0 auto;
  overflow-x: auto;
  overflow-wrap: normal;
  scroll-behavior: smooth;
}

.goal-all-btns {
  margin: -3rem 1rem 1rem;
  padding: 1rem;
  font-size: 16px;
  text-align: center;
}

/* Goal */
.goal {
  position: relative;
  overflow-wrap: break-word;
  overflow-y: auto;
  background-color: rgba(125, 125, 125, 0.50);
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 0.15rem;
  margin: 0 0.75rem 0.75rem;
  display: inline-block;
}

.goal, #goal-edit-form input {
  width: 300px;
  text-align: center;
  min-width: 300px;
  max-width: 300px;
}

#goal-text, #goal-edit-form input {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  vertical-align: auto;
  padding-bottom: 30px;
}

.goal-complete {
  color: #ccc;
  background-color: rgba(45, 45, 45, 0.9);
}

.goal .goal-btn-group {
  position: absolute;
  left: 37.5px;
  bottom: 0;
  margin: 0 auto;
}

#goal-edit-icon {
  font-size: 15px;
  float: right;
  margin: 5px 5px 0 0;
  position: static;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

#goal-edit-form input {
  margin: 30px 0;
  background: transparent;
  border: 0;
}

#goal-edit-form input:focus {
  border: none;
  outline: none;
}

@media only screen and (max-width: 910px) {

  .goal, #goal-edit-form input {
    width: 250px;
  }

  #goal-text, #goal-edit-form input {
    font-size: 22px;
    padding-bottom: 40px;
  }

  #goal-edit-icon {
    margin: 5px 5px 0 0;
    font-size: 12px;
    padding: 0 5px;
  }

  #goal-edit-form input {
    margin: 22px 0;
    padding: 0;
  }
}