/* Goals */
.goals {
  width: 90vw;
  text-align: center;
  position: relative;
}

/* Goal */
.goal {
  position: relative;
  text-align: center;
  width: 300px;
  overflow-wrap: break-word;
  overflow-y: auto;
  background-color: rgba(96, 98, 99, 0.9);
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 0.2em;
  margin: 0 0.75em 0.75em 0.75em;
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
  color: #fff;
}

.goal-complete {
  color: #ccc;
  background-color: rgba(41, 43, 44, 0.9);
}

.goal-btn-group {
  margin-top: -0.25em;
}

#goal-edit-icon {
  font-size: 15px;
  float: right;
  margin: 5px 5px 0 0;
  position: relative;
}

#goal-edit-form {
  padding: 1em 0;
}

#goal-edit-form input {
  font-size: 30px;
  font-weight: 500;
  width: 300px;
  text-align: center;
  background: transparent;
  color: #fff;
  border: 0;
}

#goal-edit-form input:focus {
  border: none;
  outline: none;
}

@media only screen and (max-width: 450px) {
  .goal, #goal-edit-form input {
    width: 250px;
    font-size: 22px;
  }
}