.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
}
 
.box {
  position: relative;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 20px;
  padding: 15px 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

#cog {
  font-size: 25px;
}

#settings-btn {
  float: right;
}

#settings-title {
  font-weight: 800;
  font-size: 32px;
}

.settings-options {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}

#settings-background-index-control {
  margin: 2em auto;
}

.units-selector, #settings-index {
  font-weight: 400;
  font-size: 24px;
}

.settings-index-btn, #settings-index {
  display: inline;
  position: relative;
  margin: 0 0.5em;
}

.settings-subtitle {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 28px;
  text-decoration: underline;
}

.units-selector {
  letter-spacing: 3px;
}

#background-creds {
  text-decoration: none;
  margin: 1em auto;
}

@media only screen and (max-width: 600px) {
  #settings-btn {
    margin: 1em;
  }
}