.quote-group {
  position: sticky;
  text-align: center;
  font-size: 18px;
  width: 100%;
  margin: -2rem auto 2rem -2rem;
  padding: 1rem 2rem 0.75rem;
  background-color: rgba(25, 25, 25, 0.95);
  color: #fff;
}

@media only screen and (max-width: 450px) {
  .quote-group {
    font-size: 16px;
  }
}