.quote-group {
  position: relative;
  text-align: center;
  font-size: 20px;
  width: 70vw;
  margin: 2em auto;
  padding: 1em;
  border-radius: 25px;
  border: 3px solid #000;
  background-color: rgb(2, 117, 216, 0.3);
  max-width: 1080px;
  left: 15px;
}

@media only screen and (max-width: 480px) {
  .quote-group {
    left: 0px;
    font-size: 16px;
    left: 10px;
  }
}