.time {
    color: white;
    font-size: 70px;
}

@media only screen and (max-width: 500px) {
    .time {
        font-size: 54px;
    }
}

@media only screen and (max-height: 400px) {
  .time {
      font-size: 54px;
  }
}