a, a:hover, a:active, a:visited {
  color: white;
}

.background, .background-filter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

#blank-background {
  background-color: #000;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.background-filter {
  z-index: -1;
  background: rgb(0, 0, 0, 0.6);
  filter: blur(5px);
}

#background-creds {
  font-size: 20px;
}

.weather-container {
  margin: 1.5rem auto auto 1rem;
  font-size: 30px;
  color: rgba(235, 235, 235, 0.9);
  text-decoration: none;
}

.info-container {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%);
  width: 100vw;
  font-size: 40px;
  color: rgba(235, 235, 235, 0.9);
}

/* Arrow Icons */
.homepage-arrow-icon {
  font-size: 20px;
}

/* Homepage Buttons */
#homepage-btns {
  margin-top: 0.5rem;
  margin-right: 1rem;
  float: right;
}

/* Date and Time */
#date-time-container {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .App {
    margin: auto;
  }

  #background-creds {
    font-size: 15px;
  }

  .weather-container {
    margin-top: 2.5rem;
    font-size: 25px;
  }

  .info-container {
    font-size: 30px;
  }

  #homepage-btns {
    margin: 1rem auto -2rem;
  }

  #homepage-btns, .weather-container {
    float: none;
    text-align: center;
  }
}