.App {
  margin: 1em 2em;
  padding: 1em;
}

.info-container {
  margin: 1em 0.5em 2em 0.5em;
}

.goal-container {
  background-color: rgb(0, 0, 0, 0.1);
  border: 3px solid #000;
  border-radius: 25px;
  margin: 0.5em auto;
  padding-top: 1em;
}

/* Input Field */
.input-group {
  position: relative;
  width: 80vw;
  margin: 2em 0;
  left: 7%;
}

.input-group label {
  position: relative;
  top: -48px;
  left: 0px;
  font-size: 36px;
  color: #000;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-group input {
  border: 0;
  border-bottom: 2px solid #777;  
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 36px;
  color: #777777;
} 

.input-group input:hover {
  border-bottom: 3px solid #000000;
}

.input-group input:hover ~ label {
  font-weight: 500;
}

.input-group input:focus { 
  border: none;	
  outline: none;
  border-bottom: 3px solid rgb(12, 127, 246);	
  color: #000000;
  font-weight: 500;
 }

.input-group input:focus ~ label,
.input-group input:valid ~ label {
	top: -75px;
	font-size: 24px;
  color: #777777;
}

@media only screen and (max-width: 768px) {
  .App {
    margin: 2em auto;
  }

  .input-group {
    text-align: center;
  }

  .input-group label {
    font-size: 28px;
  }

  .input-group input {
    font-size: 28px;
  } 

  .input-group input:focus ~ label,
  .input-group input:valid ~ label {
    font-size: 18px;
  }
}