.App {
  margin: 1em;
}

.background, .background-filter {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.background {
  background-repeat: no-repeat;
  background-position: center;
  z-index: -2;
}

.background-filter {
  z-index: -1;
  background: rgb(0, 0, 0, 0.5);
  filter: blur(5px);
}

.info-container {
  margin: 0 0.5em 0.5em 0.5em;
  font-size: 60px;
}

.goal-container {
  background-color: rgb(0, 0, 0, 0.25);
  border: 3px solid #fff;
  border-radius: 25px;
  margin: 0.5em auto;
  padding-top: 1em;
}

/* Input Field */
.input-group {
  position: relative;
  width: 80vw;
  margin: 2em auto;
}

.input-group label {
  position: relative;
  top: -48px;
  left: 0px;
  font-size: 36px;
  color: #fff;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.input-group input {
  border: 0;
  border-bottom: 2px solid #ccc;  
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 36px;
  color: #ccc;
} 

.input-group input:hover {
  border-bottom: 3px solid #fff;
}

.input-group input:hover ~ label {
  font-weight: 500;
}

.input-group input:focus { 
  border: none;	
  outline: none;
  border-bottom: 3px solid #fff;	
  color: #fff;
  font-weight: 500;
 }

.input-group input:focus ~ label,
.input-group input:valid ~ label {
	top: -75px;
	font-size: 24px;
  color: #ccc;
}

@media only screen and (max-width: 450px) {
  .App {
    margin: auto;
  }

  .info-container {
    padding-top: 2em;
    font-size: 50px;
  }

  .input-group {
    text-align: center;
  }

  .input-group label {
    font-size: 28px;
  }

  .input-group input {
    font-size: 28px;
  } 

  .input-group input:focus ~ label,
  .input-group input:valid ~ label {
    font-size: 18px;
  }
}