.weather-text {
  display: inline;
}

#weather-icon {
  vertical-align: -8px;
  width: 50px;
}

@media only screen and (max-width: 500px) {
  .weather, #weather-loading-text {
    margin: 1rem auto 0;
  }

  #weather-icon {
    vertical-align: -5px;
    width: 35px;
  }
}

@media only screen and (max-height: 400px) {
  .weather, #weather-loading-text {
    margin: 0 auto;
  }

  #weather-icon {
    vertical-align: -5px;
    width: 35px;
  }
}