.weather {
  margin-top: 1rem;
}

.weather-text {
  display: inline;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

#weather-icon {
  width: 45px;
}

#weather-loading-text {
  color: white;
  font-size: 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 450px) {
  .weather, #weather-loading-text {
    text-align: center;
  }

  #weather-loading-text {
    font-size: 30px;
  }
}