.weather, #weather-loading-text {
  margin-top: 1rem;
}

.weather-text {
  display: inline;
}

#weather-icon {
  vertical-align: -8px;
  width: 50px;
}

@media only screen and (max-width: 910px) {
  #weather-icon {
    vertical-align: -5px;
    width: 35px;
  }
}